<%= link_to root_path do %>
    <%= image_tag(asset_pack_path("img/icon.png"), alt: 'ロゴ', class: 'logo shadow') %>
<% end %>
<% @contents.each do |content| %>
    <div class="card card-white shadow">
        <%= "#{content.original_text} |  #{content.converted_text}" %>
    </div>
<% end %>