<% @contents.each do |content| %>
    <div class="card card-white shadow">
        <span class="original"><%= content.original_text %></span>
        <span class="converted hide"><%= content.converted_text %></span>
    </div>
<% end %>