<ul>
    <li><%=link_to "ツイッター　ミル", "https://twitter.com/genshijin_bot", class: "btn btn-white shadow ripple" %></li>
    <li>
        <% if request.referrer.include?('new') %>
            <%= link_to "モウイッカイ",new_content_path, class: "btn btn-white shadow ripple" %>
        <% else %>
            <%= form_for @content, url: tweet_path do |f| %>
                <%= f.submit "モウイッカイ", class: "btn btn-white shadow ripple" %>
            <% end %>
        <% end %>
    </li>
</ul>