@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

//color
$pink:#ef6d6e;
$sakura:#FFB2AE;
$ume:#fcecea;
$white:#fff;
$grey:#928484;

html{
    font-size: 62.5%;
}

body{
    background-color: $ume;
    color:#fff;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴシック', 'メイリオ' ,sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    height:100vh;
    line-height: 1.2em;
    min-height:32em;
    width:100vw;
}

//responsive
$medium: 56.25em;
$small: 37.5em;
@mixin tablet {
    @media (min-Width: $small) and (max-width: $medium) {
      @content;
    }
}
@mixin sp {
    @media (max-width: $small) {
      @content;
    }
}

.btn{
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
    font-size:1em;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: 1em;
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
    width:100%;
    &.btn-pink{
        background-color:$pink;
        color:$white;
    }
    &.btn-sakura{
        background-color:$sakura;
        color:$white;
    }
    &.btn-white{
        background-color:$white;
        color:$pink;
        &:hover{
            background-color: $pink;
            color:$white;
        }
    }
}

.shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.ripple{
    position: relative;
    overflow: hidden;
    &.rp-effect {
        position: absolute;
        border-radius: 50%;
        opacity: 0.35;
        transform: scale(0);
        background: #FFF;
        animation: ripple 700ms;
        pointer-events: none; 
    }
    @-webkit-keyframes ripple {
        to {
            opacity: 0;
            transform: scale(2.0);
        }
    }
    @keyframes ripple {
        to {
            opacity: 0;
            transform: scale(2.0);
        }
    }
}

//main
.main{
    align-items: center;
    display: flex;
    height:100%;
    justify-content: center;
    text-align: center;
    width:100%;
    .container{
        width:50%;
        @include tablet{
            width:60%;
        }
        @include sp{
            width:80%;
        }
        .logo-box{
            display: inline-block;
            padding-bottom:5vh;
            .logo{
                border-radius: 50%;
                height:7em;
                width:7em;
            }
        }
        .card{
            border-radius: 0.2em;
            margin:1em 0;
            max-height:5em;
            overflow: scroll;
            padding:1em 3em;
            &.card-white{
                background-color: $white;
                color:$pink;
                &:hover{
                    background-color: $sakura;
                    color:$white;
                }
                .hide{
                    display:none;
                }
            }
        }
        li{
            margin:1em 0;
        }
        #content_original_text{
            background-color: $white;
            font-size: 1em;
            height:10em;
            margin-bottom: 2em;
            padding: 1em;
            width:100%;
            @include sp{
                height:20vh;
            }
        }
        .flash{
            background-color: $sakura;
            border-radius: 0.2em;
            color:$white;
            margin-bottom:5vh;
            text-align: left;
            padding:2em;
            position: relative;
            width:100%;
            @include sp{
                padding:1em;
            }
            &.flash-success{
                @extend %fa-icon;
                @extend .fas;
                &:after{
                    content:fa-content($fa-var-check);
                    right:2em;
                    position: absolute;
                }
            }
            &.flash-danger{
                @extend %fa-icon;
                @extend .fas;
                &:after{
                    content:fa-content($fa-var-times);
                    right:2em;
                    position: absolute;
                }
            }
        }
        .pagination{
            span{
                margin:0.5em;
                &.current{
                    color:$sakura;
                }
                a{
                    color:$pink;
                }
            }
        }
    }
}

//header
header{
    background-color:$pink;
    display:flex;
    height:4em;
    justify-content: space-between;
    left:0;
    margin:0;
    position: fixed;
    top:0;
    width:100%;
    z-index: 99;
    @include sp{
        bottom: 0;
        justify-content: center;
        top: auto;
    }
    .header-left{
        align-items: center;
        color: $white;
        display: flex;
        @include sp{
            display: none;
        }
        .header-logo{
            border-radius: 50%;
            height:4em;
            width: 4em;
        }
    }
    .header-right{
        @extend %fa-icon;
        @extend .fas;
        align-items: center;
        display: flex;
        .header-item{
            font-size: 1.2em;
            margin-right: 2em;
            &:last-child{
                @include sp{
                    margin-right:0;
                }
            }
            a{
                color:$white;
                &:hover{
                    color:$sakura;
                }
                &.icon-home{
                    &:before {
                       content: fa-content($fa-var-home);
                    }
                }
                &.icon-new{
                    &:before{
                        content: fa-content($fa-var-pen)
                    }
                }
                &.icon-index{
                    &:before{
                        content: fa-content($fa-var-comments)
                    }
                }
                &.icon-twitter{
                    @extend %fa-icon;
                    @extend .fab;
                    &:before{
                        content: fa-content($fa-var-twitter)
                    }
                }
            }
        }
    }
}
